git+https://github.com/valayDave/metaflow.git@mf-cards-opinionated-components-current-play
pandas
awscli
pyarrow
s3fs
fsspec
pytorch-lightning
transformers
tabulate
tensorflow>=2.5.0
Pillow
gensim>=4.0.1
